</div>
<div class="jumbotron center">
 <div class="container">
 </div>
   <h1>Welcome to my First App</h1>
	<p><b>Click here to</b> <%= link_to "Sign up", "#", class: 'btn btn-primary btn-lg' %>	<%= link_to "Login", "#", class: 'btn btn-default btn-lg'%></p>
</div>
</div>
